<div id="content-container" class="filters_container">
  <div id="filters" class="filters">
    <header>
      <p>Анкета</p>
    </header>

    <ng-container *ngIf="formData.length > 0; else noData">
      <main>
        <div class="form__group" *ngFor="let form of formData">
          <div [ngSwitch]="form?.type">
            <div *ngSwitchCase="'text'">
              <app-testInput
                (changes)="changeData($event)"
                [initData]="form"
              ></app-testInput>
            </div>

            <div *ngSwitchCase="'number'">
              <app-testNumber
                (changes)="changeData($event)"
                [initData]="form"
              ></app-testNumber>
            </div>

            <div *ngSwitchCase="'select'">
              <app-testSelect
                (changes)="changeData($event)"
                [initData]="form"
              ></app-testSelect>
            </div>

            <div *ngSwitchCase="'checkbox'">
              <app-testCheckbox
                (changes)="changeData($event)"
                [initData]="form"
              ></app-testCheckbox>
            </div>
          </div>
        </div>
      </main>
      <div class="filters_buttons">
        <button
          mat-button
          class="confirm_btn"
          type="button"
          aria-label="Confirm"
          matTooltip="Применить"
          (click)="submit()"
        >
          Применить
        </button>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noData>
  <h4 class="empty">Поля отсутсвуют</h4>
</ng-template>
