<form [formGroup]="form" *ngIf="form" class="checkbox">
  <mat-label>{{ initData.display_name }}</mat-label>
  <section class="section" [formGroupName]="initData.name">
    <span class="list-section" *ngFor="let input of initData.inputs">
      <mat-checkbox [formControlName]="input.name">
        {{ input.display_name }}
      </mat-checkbox>
    </span>
    <span class="list-section">
      <mat-checkbox
        class="checkbox"
        [checked]="allComplete"
        [indeterminate]="someComplete()"
        (change)="setAll($event.checked)"
      >
        Выделить всё
      </mat-checkbox>
    </span>
  </section>
</form>
